<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 tabs-container">
      <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab label="My files">
          <app-file-list
            (updateList)="update()"
            [fileList]="fileList"
          ></app-file-list>
        </mat-tab>
        <mat-tab label="Upload a file">
          <app-file-upload></app-file-upload>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
