<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <h5 class="mt-3">File storage</h5>
          <small class="mt-2 text-muted subtitle"
            >Enter something to search
          </small>

          <div class="form-input">
            <input
              type="text"
              class="form-control"
              placeholder="search request"
              formControlName="search"
            />
          </div>

          <button class="btn btn-primary mt-4 find" [disabled]="form.invalid">
            Find
          </button>
        </form>
        <div *ngIf="isFound">
          <app-file-list
            (updateList)="update()"
            [fileList]="searchResult"
          ></app-file-list>
        </div>
      </div>
    </div>
  </div>
</div>
