@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.height {
  height: 100vh;
}

.card {
  border: none;
  padding: 20px;
  background-color: #d6d6d6;
  color: #000;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control {
  height: 50px;
  text-indent: 24px;
  font-size: 15px;
  color: #000;
}

.form-control:focus {
  box-shadow: none;
}

.find {
  height: 50px;
  font-size: 14px;
  width: 100%;
}

h5 {
  font-size: 30px;
}

.subtitle {
  font-size: 15px;
}
