<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <h5 class="mt-3">File storage</h5>
          <small class="mt-2 text-muted subtitle"
            >Enter a link to find a file</small
          >

          <div class="form-input">
            <input
              type="text"
              class="form-control"
              placeholder="link"
              formControlName="link"
            />
          </div>

          <button class="btn btn-primary find" [disabled]="form.invalid">
            Find
          </button>
        </form>

        <div *ngIf="isFound">
          <app-file (updateList)="update()" [file]="file"></app-file>
        </div>

        <div class="text-center mt-4">
          <span>Want to upload a file or see all your files? Go to your </span>
          <a class="text-decoration-none" routerLink="../profile">profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
