<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/admin', 'search']">Admin panel</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin', 'search']">Search files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin', 'users']">Manage users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Exit</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="text-center p-3 footer">© 2021, Created by Andrii Haizler</div>
