<div class="file-container">
  <h1 class="title">{{ file.title }}</h1>
  <span class="text-muted">{{ file.dateCreated | date: "MM/dd/yy" }} | </span>
  <span class="text-muted" *ngIf="file.isPublic == true"> Public file | </span>

  <span class="text-muted" *ngIf="file.isPublic == false">
    Private file |
  </span>

  <span class="text-muted"> Posted by {{ file.userLogin }} </span>

  <br />

  <button class="btn btn-primary custom-btn" (click)="download()">
    Download
  </button>
  <button
    *ngIf="isOwner || isAdmin"
    class="btn btn-danger custom-btn"
    (click)="delete()"
  >
    Delete
  </button>
  <button class="btn btn-info custom-btn" (click)="copyLink()">
    Copy link
  </button>
  <br />
  <div class="col-md-6">
    <span class="download" *ngIf="progress > 0"> {{ progress }}% </span>
    <span class="download">
      {{ message }}
    </span>
  </div>
  <hr />
</div>
