<form
  class="container mt-5 mb-5"
  [formGroup]="form"
  (ngSubmit)="submit(file.files)"
>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="card px-12 py-12">
        <h5 class="mt-3">Upload a file</h5>

        <div class="form-input">
          <input
            #file
            class="form-control form-control-sm"
            type="file"
            formControlName="file"
            (change)="fileChanged(file.files)"
          />

          <div class="col-md-10">
            <span class="upload" *ngIf="progress > 0"> {{ progress }}% </span>
            <span class="upload" *ngIf="message">
              {{ message }}
            </span>
          </div>
        </div>

        <div class="form-input">
          <input
            class="form-check-input-lg"
            type="checkbox"
            formControlName="isPublic"
            id="isPublic"
          />
          <label class="form-check-label" for="isPublic">Is public</label>
        </div>

        <button class="btn btn-primary mt-4 signup" [disabled]="form.invalid">
          Upload file
        </button>
      </div>
    </div>
  </div>
</form>
