@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.card {
  background-color: transparent;
  border: none;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
}

.form-input > label {
  margin-left: 5px;
}

h5 {
  font-size: 30px;
  margin-bottom: 20px;
}

.upload {
  font-weight: bold;
  color: #28a745;
  line-height: 36px;
}
