<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="profile" *ngIf="!isLogged()">File storage</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="isLogged()">{{getUserName()}}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged()">
          <a class="nav-link" routerLink="signup">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged()">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" routerLink="profile">My profile</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="admin">Admin panel</a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" href="#" (click)="onLogout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>

<div class="text-center p-3 footer">
  © 2021, Created by Andrii Haizler
</div>

