<form class="container mt-5 mb-5" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h5 class="mt-3">File storage</h5>

        <small class="mt-2 text-muted subtitle">Sign up to continue</small>

        <div class="form-input">
          <i class="fa fa-user"></i>
          <input
            type="text"
            class="form-control"
            placeholder="username"
            formControlName="username"
          />
        </div>
        <div class="form-input">
          <i class="fa fa-lock"></i>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            formControlName="password"
          />
          <small class="mt-2 text-muted">Must contain at least 8 symbols</small>
        </div>

        <button class="btn btn-primary mt-4 signup" [disabled]="form.invalid">
          Sign up
        </button>

        <div class="text-center mt-4">
          <span>Already a member?</span>
          <a class="text-decoration-none" routerLink="../login">Login</a>
        </div>
      </div>
    </div>
  </div>
</form>
