.user-container {
  padding: 3% 5% 0 5%;
}

.username {
  margin: 0 0 10px 0;
}

.custom-btn {
  margin: 10px 5px 0 0;
}

.file-list {
  width: 90%;
  border: thin grey solid;
  border-radius: 3px;

  padding: 5px;
  margin: 10px;
}
