<div class="user-container">
  <h1 class="username">{{ user.userName }}</h1>

  <p class="text-muted">
    Email:
    <span *ngIf="user.email">
      {{ user.email }}
    </span>
    <span *ngIf="!user.email"> none </span>
  </p>

  <div class="text-muted" style="display: inline">
    Roles:
    <div *ngFor="let role of user.roles" style="display: inline">
      <span>{{ role }} </span>
    </div>
  </div>

  <br />
  <button
    *ngIf="!isAdmin"
    class="btn btn-success custom-btn"
    (click)="makeAdmin()"
  >
    Make admin
  </button>

  <button
    *ngIf="!needShowFiles"
    class="btn btn-primary custom-btn"
    (click)="showFiles()"
  >
    Show all files
  </button>

  <button
    *ngIf="needShowFiles"
    class="btn btn-primary custom-btn"
    (click)="hideFiles()"
  >
    Hide files
  </button>
  <br />

  <div *ngIf="needShowFiles" class="file-list">
    <app-file-list [fileList]="files" (updateList)="update()"></app-file-list>
  </div>
  <hr />
</div>
