<div class="container main-container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md">
      <h1 class="title">All users:</h1>
      <app-user-list [users]="users" (updateList)="update()"></app-user-list>
    </div>
  </div>
</div>
