@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url(app/images/sky-background.jpg);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
